.formResult {
  width: fit-content;
  min-width: 300px;
  max-width: 50%;
  padding: 10px;

  border: 2px solid black;

  transition: 0.5s;
}

.new {
  border: 2px solid green;
  background: #94f3b9;
  border-radius: 5px;
}

.formResult p {
  max-width: 300px;
}
.image {
  object-fit: contain;
}

.item {
  display: flex;
}

.key {
  flex: 1;
}

.value {
  flex: 5;
}
